body {
  margin: 0;
  font-family: 'Sen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar{
  background-color: #ffba79;
}

code {
  font-family: 'Sen', sans-serif;
}

.active{
  background-color: #ffba79;
  color: white;
}

.btn-primary{
  background-color: #ffba79;
}
@media only screen and (max-height: 1000px){
  .result{
    height: 450px;
  }

  /* .menu{
    height: 500px;
  } */
}

.overflow-auto::-webkit-scrollbar{
  display: none;
}
